<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd" >
 
 <!--  -->
 <bean id="springIOCDemo" class="com.cn.saint.spring.SpringIOCDemo"></bean>
 
 <!-- 静态工厂创建对象 -->
 <bean id="bean2" class="abc" factory-method="getBean2"></bean>
 
 <!-- 实例化工厂创建对象 -->
 <bean id="bean3factory" class="abc"></bean>
 <bean id="bean3" factory-bean="bean3factory" factory-method="getBean3"></bean>
 </beans>