<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xmlns:aop="http://www.springframework.org/schema/aop"  
       xmlns:tx="http://www.springframework.org/schema/tx"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                           http://www.springframework.org/schema/aop   
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
                           http://www.springframework.org/schema/tx   
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">  
    <aop:aspectj-autoproxy/>  
    <bean id="user" class="com.cn.saint.spring.aop.UserServiceImpl"/>  
    <bean id="check" class="com.cn.saint.spring.aop.AOPImpl"/>  
      
    <aop:config>  
        <aop:pointcut id="find" expression="execution(* com.cn.saint.spring.aop.*.find*(..))" />  
        <aop:pointcut id="add"  expression="execution(* com.cn.saint.spring.aop.*.add*(..))" />  
          
        <aop:aspect id="checkUser" ref="check">  
            <aop:before method="beforeCheck" pointcut-ref="find"/>  
            <aop:after method="afterCheck" pointcut-ref="find"/>  
        </aop:aspect>  
          
    </aop:config>
</beans>  